<div ng-controller="dimissionApplicationController">
    <form name="dimissionApplication">
        <div class="section position-information">
            <p class="title">
                <span>Termination Request</span>
            </p>
            <div class="position-content">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 col-xs-6 control-label">Guid:</label>
                        <div class="col-sm-5 col-xs-6">{{employee.adName}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 col-xs-6 control-label">Employee ID:</label>
                        <div class="col-sm-5 col-xs-6">{{employee.emplNo}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 col-xs-6 control-label">Name:</label>
                        <div class="col-sm-5 col-xs-6">{{employee.chineseName}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 col-xs-6 control-label">*Coach/PM/RL:</label>
                        <div class="col-sm-5 col-xs-6" ng-if="applicated">
                            <span>{{dimissionApplication.coachName}}</span>
                        </div>
                        <div class="col-sm-5 col-xs-6" ng-show="!applicated">
                            <select id="mySel" class="form-control" ng-model="employee.coachGuid" data-live-search="true" required>
                                <option ng-repeat="item in allEmployee|orderBy:'emplName'"
                                        ng-selected="item.adName==employee.coachGuid" value="{{item.adName}}">
                                    {{item.emplName}}--{{item.adName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 col-xs-6 control-label">OM:</label>
                        <div class="col-sm-5 col-xs-6">{{employee.operationManager}}</div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="applicated">
                        <label class="col-sm-4 col-xs-6 control-label">Apply Date:</label>
                        <div class="col-sm-5 col-xs-6">{{dimissionApplication.appTime}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 col-xs-6 control-label">*Last working day:</label>
                        <div class="col-sm-5 col-xs-6">
                            <span ng-bind="dimissionApplication.lastWorkingDay" ng-show="applicated"></span>
                            <input ng-click="openbirthday()" readonly class="form-control" uib-datepicker-popup
                                   ng-model="employee.leaveDate"
                                   is-open="popupbirthday.opened" datepicker-options="dateOptions" required
                                   close-text="Close"
                                   alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" ng-show="!applicated"/>
                            <span ng-show="!applicated" style="color:red;">Notice Period should be 30 days (3 days in probation)</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 col-xs-6 control-label">*Termination Reason:</label>
                        <div class="col-sm-5 col-xs-6">
                            <select id="reason" ng-model="employee.leaveReason" required class="form-control" ng-show="!applicated">
                                <option ng-repeat="leaveReason in leaveReasons" value="{{leaveReason}}">
                                    {{leaveReason}}
                                </option>
                            </select>
                            <span ng-bind="dimissionApplication.dimissionType" ng-show="applicated"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12" ng-show="!applicated">
                        <label class="col-sm-4 col-xs-6 control-label">Description:</label>
                        <div class="col-sm-10 col-xs-6">
                            <textarea ng-model="employee.leaveComments" class="survey_textarea"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="applicated">
                        <label class="col-sm-4 col-xs-6 control-label">Description:</label>
                        <div class="col-sm-5 col-xs-6">
                            <span ng-bind="dimissionApplication.description" ng-show="applicated"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="applicated">
                        <label class="col-sm-4 col-xs-6 control-label">Application Status:</label>
                        <div class="col-sm-5 col-xs-6">
                            <span>{{statusShow(dimissionApplication.appStatusCode)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div>
        <button type="button" class='btn btn-warning' ng-click="submit(employee)" ng-show="!applicated"
                ng-disabled="!dimissionApplication.$valid">submit
        </button>
        <button type="button" class='btn btn-warning' ng-click="cancel()" ng-show="!applicated">cancel</button>
        <button type="button" class='btn btn-warning' ng-click="reSendEmail()" ng-show="applicated"><i
                class="fa fa-share" aria-hidden="true"></i> Send Reminding E-mail
        </button>
        <button type="button" class='btn btn-warning' ng-click="download()"><i class="fa fa-cloud-download"
                                                                               aria-hidden="true"></i> Download Form
        </button>
    </div>

    <div class="section personal-information" ng-show="hasHistory">
        <p class="title"><span>History Requests</span></p>
    </div>
    <table class="table" ng-show="hasHistory">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>Guid</th>
            <th>Staff Name</th>
            <th>Last working Date</th>
            <th>Apply Date</th>
            <th>Status</th>
            <th>Reject Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dimissionApplication in historyApplicationList">
            <td ng-bind="employee.emplNo"></td>
            <td ng-bind="employee.adName"></td>
            <td ng-bind="employee.chineseName"></td>
            <td ng-bind="dimissionApplication.lastWorkingDay"></td>
            <td ng-bind="dimissionApplication.appTime"></td>
            <td ng-bind="statusShow(dimissionApplication.appStatusCode)"></td>
            <td ng-bind="dimissionApplication.rejectComment"></td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('#mySel').select2();
    $('#reason').select2();
</script>