<div ng-controller="certificateController">
    <div>
        <label style="font-size: 20px">Please choose the type of Certificate:
            <select class="form-control" style="font-size: 15px" ng-options="chosen.name for chosen in chosens"
                    ng-change="showCertificate(chosen.value)" ng-model="chosen">
                <option value="" selected hidden></option>
            </select>
        </label>
        <br>
        <br>
        <br>
    </div>
    <!-- <button ng-click="sendTestEmail()">Send Test Email</button> -->

    <form name="basicinformation" novalidate class="info-form">
        <div class="section personal-information">
            <p class="title" ng-show="chosen.id == 1"><span>Incumbency Certification Information [在职证明]</span></p>
            <p class="title" ng-show="chosen.id == 2"><span>Income Certification Information [收入证明]</span></p>
            <p class="title" ng-show="chosen.id == 3"><span>Travel Certification Information [旅行证明]</span></p>
            <p class="title" ng-show="chosen.id == 4"><span>Other Certificates [其他]</span></p>
            <div class="personal-content">
                <label style="color: #f00;" ng-show="already==1">You have already applied this kind of
                    application</label>
                <div class="row">
                    <div class="form-group col-sm-6"
                         ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3||chosen.id == 4">
                        <label for="name" class="col-sm-4 col-xs-6 control-label">Name:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input ng-model="certificate.emplName" type="text" class="form-control" required
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group col-sm-6"
                         ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3||chosen.id == 4">
                        <label for="province" class="col-sm-4 col-xs-6 control-label">Guid:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input ng-model="certificate.adName" type="text" class="form-control" required
                                   readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6" ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3">
                        <label for="nationality" class="col-sm-4 col-xs-6 control-label">*Chop Type:</label>
                        <div class="col-sm-5 col-xs-6">
                            <select class="form-control" ng-model="certificate.chopType" required>
                                <option value="HR Chop">HR Chop</option>
                                <option value="Company Official Chop">Company Official Chop</option>
                            </select>
                            <!--                         <input type="text" ng-model="certificate.chopType" class="form-control" required placeholder="" readonly="readonly"> -->
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3">
                        <label for="nationality" class="col-sm-4 col-xs-6 co ntrol-label">Employee ID:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input type="text" ng-model="certificate.emplNo" class="form-control" required
                                   placeholder="" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6"
                         ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3||chosen.id==4">
                        <label for="passport-no" class="col-sm-4 col-xs-6 control-label">* Coach/Project
                            Manager:</label>
                        <div class="col-sm-5 col-xs-6">
                            <select id="mySel" class="form-control" ng-model="certificate.projectManagerGuid">
                                <option ng-repeat="item in allEmployee|orderBy:'emplName'"
                                        ng-selected="item.emplName == certificate.projectManagerName"
                                        value={{item.adName}}>{{item.emplName}}--{{item.adName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="chosen.id==4">
                        <label class="col-sm-4 col-xs-6 control-label">Upload attachments:</label>
                        <div class="col-sm-5 col-xs-6">
                            <button type=" button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#cerUploadFiles"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                Upload Files
                            </button>
                            <p ng-repeat="file in cerFiles">{{file.name}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3">
                        <label for="passport-no" class="col-sm-4 col-xs-6 control-label">Operation Manager:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input type="text" ng-model="certificate.operationManager" class="form-control"
                                   name="passportNumber" required placeholder="" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6" ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3">
                        <label for="id-number" class="col-sm-4 col-xs-6 control-label">Department:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input type="text" ng-model="certificate.supportingTeamName" class="form-control"
                                   name="IDnumber" required readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="chosen.id == 1||chosen.id == 2||chosen.id == 3">
                        <label for="passport-no" class="col-sm-4 col-xs-6 control-label">Job Title:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input type="text" ng-model="certificate.jobTitle" class="form-control"
                                   name="passportNumber" required placeholder="" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6" ng-show="chosen.id == 3">
                        <label for="id-number" class="col-sm-4 col-xs-6 control-label">* Destination:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input type="text" ng-model="certificate.destination" class="form-control" required
                            >
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="chosen.id == 3">
                        <label for="passport-no" class="col-sm-4 col-xs-6 control-label">* Passport NO:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input type="text" ng-model="certificate.passportNumber" class="form-control" required
                                   placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6" ng-show="chosen.id == 3">
                        <label for="birthday" class="col-sm-4 col-xs-6 control-label">* Travel Start Date:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input ng-click="openStartDate()" class="form-control" uib-datepicker-popup
                                   ng-model="certificate.startDate" is-open="popupStartDate.opened" name="birthday"
                                   datepicker-options="dateOptions" required close-text="Close"
                                   alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="chosen.id == 3">
                        <label for="birth-province" class="col-sm-4 col-xs-6 control-label">* Travel End Date:</label>
                        <div class="col-sm-5 col-xs-6">
                            <input ng-click="openEndDate()" class="form-control" uib-datepicker-popup
                                   ng-model="certificate.endDate" is-open="popupEndDate.opened"
                                   datepicker-options="dateOptions" required close-text="Close"
                                   alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-4 col-xs-6 control-label"
                           ng-show="chosen.id == 4||chosen.id == 3||chosen.id == 2||chosen.id == 1">&nbsp &nbsp Please
                        fill in the table what certificate you want to open:</label>
                </div>
                <div class="personal-content" ng-show="chosen.id == 4||chosen.id == 3||chosen.id == 2||chosen.id == 1">
                    <textarea rows="5" cols="15" ng-model="certificate.comment"></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="btn next-btn" data-target="#Reconfirm" data-toggle="modal"
                ng-show="(chosen.id == 1 ||chosen.id == 2)&&already==1"
                ng-disabled="certificate.projectManagerGuid == null || certificate.chopType == null">Submit
        </button>
        <button type="button" class="btn next-btn" data-target="#Reconfirm" data-toggle="modal"
                ng-show="chosen.id ==4&&already==1" ng-disabled="certificate.comment==null">Submit
        </button>
        <button type="button" class="btn next-btn" data-target="#Reconfirm" data-toggle="modal"
                ng-show="chosen.id==3&&already==1"
                ng-disabled="certificate.destination==null || certificate.passportNumber==null || certificate.startDate==null || certificate.endDate==null">
            Submit
        </button>

        <button type="button" class="btn next-btn" ng-click="saveCertificate(certificate)"
                ng-show="(chosen.id == 1 ||chosen.id == 2)&&already==0"
                ng-disabled="certificate.projectManagerGuid == null || certificate.chopType == null">Submit
        </button>
        <button type="button" class="btn next-btn" ng-click="saveCertificate(certificate)"
                ng-show="chosen.id ==4&&already==0"
                ng-disabled="certificate.comment==null">Submit
        </button>
        <button type="button" class="btn next-btn" ng-show="chosen.id==3&&already==0" data-toggle="modal"
                data-target="#applicationInfoModal"
                data-backdrop="static" style="cursor:pointer"
                ng-disabled="certificate.destination==null || certificate.passportNumber==null || certificate.startDate==null || certificate.endDate==null">
            Submit
        </button>
    </form>


    <div class="modal fade" id="applicationInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel" style="font-size:30px">Please Confirm your Passport
                        Number</h4>
                </div>
                <div>
                    <span class="col-sm-4 col-xs-6"
                          style="font-size:20px">PassportNumber:{{certificate.passportNumber}}</span>
                    <br>
                </div>
                <div class="modal-footer">
                    <div align="left">
                        <input type="checkbox" style="align:left" ng-model="checkBox"><span>Please confirm that you have submit your travel application</span>
                    </div>
                    <button type="button" class="btn next-btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn next-btn" ng-click="saveCertificate(certificate)"
                            ng-disabled="!checkBox">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Reconfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Application reconfirm</h4>
                </div>
                <table>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:400px;"><h4>&nbsp;&nbsp;&nbsp;&nbsp;Are you sure to apply again?</h4></td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-click="saveCertificate(certificate)"
                                    ng-show="(chosen.id == 1 ||chosen.id == 2)&&already==1"
                                    ng-disabled="certificate.projectManagerName == null || certificate.chopType == null">
                                Yes
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-click="saveCertificate(certificate)"
                                    ng-show="chosen.id ==4&&already==1" ng-disabled="certificate.comment==null">Yes
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-show="chosen.id==3&&already==1"
                                    ng-click="hideModel()" data-toggle="modal" data-target="#applicationInfoModal"
                                    data-backdrop="static" style="cursor:pointer"
                                    ng-disabled="certificate.destination==null || certificate.passportNumber==null || certificate.startDate==null || certificate.endDate==null">
                                Yes
                            </button>
                        </td>
                        <td>&nbsp&nbsp&nbsp</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cerUploadFiles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Certificate Form(Multiple files)</h4>
                </div>
                <form id="leaveuploadForm" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" ng-file-model="cerFiles" multiple class="dropify"/>
                </form>
                <div class="modal-footer">
                    <button type="button" class='btn btn-warning' data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" ng-click="cerUploadAttachment()"
                            ng-disabled="cerFiles.length == 0"> Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#mySel').select2();
</script>
<script type="text/javascript" src="resources/js/dropifyStyle.js"></script>