<div ng-controller="lockerManagementController" ng-init="init()">
    <div class="contact-title">
        <h2>Locker and Cabinet Management</h2>
    </div>
    <div class="div-padding-top">
        <table>
            <tr>
                <td><label class="control-label">Search by Status:&nbsp;</label></td>
                <td>
                    <select style="font-size: 15px" ng-model="status" class="form-control">
                        <option value="" selected>All</option>
                        <option ng-repeat="item in lockerlist | unique:'status' " value="{{item.status}}">{{lockerStatusShow(item.status)}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>&nbsp;
                <td>
            </tr>
            <tr>
                <td><label class="control-label">Search by Type:&nbsp;</label></td>
                <td>
                    <select style="font-size: 15px" ng-model="type" class="form-control">
                        <option value="" selected>All</option>
                        <option ng-repeat="item in lockerlist | unique:'type' " >{{item.type}}</option>
                    </select>
                </td>
            </tr>                           	          
        </table>
    </div>
    <div class="search-result" context-menu="menuOptions">
        <div class="form-button">
            <button type="button" class="btn" ng-click="showAddDialog()">Add</button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="check-box">
                <!--    <input type="checkbox" class="checkbox" id="checkbox" ng-model="lockerinfo.allcheck" ng-click="selectAll()">
                    <label for="checkbox"></label>-->
            </th>
            <th>Area</th>
            <th>Building_No</th>
            <th>Floor</th>
            <th>Location</th>
            <th>SerialNumber</th>
            <th>Type</th>
            <th>Status</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="lockerinfo in filtered = (lockerlist | filter:{status:status} | filter:{type:type}) | filter:{status:status} | filter:{type:type} | start: (currentPage - 1) * pageSize | limitTo: pageSize">
            <td></td>
            <!--<td class="check-box">
                <input type="checkbox" class="checkbox" id="checkbox-{{lockerinfo.lockerId}}" ng-click="isCheck(lockerinfo)" ng-model="lockerinfo.check" ng-checked="lockerinfo.check">
                <label for="checkbox-{{lockerinfo.lockerId}}"></label>
            </td>-->
            <td ng-bind="lockerinfo.area"></td>
            <td ng-bind=lockerinfo.building_No></td>
            <td ng-bind=lockerinfo.floor></td>
            <td ng-bind=lockerinfo.location></td>
            <td ng-bind=lockerinfo.serialNumber></td>
            <td ng-bind=lockerinfo.type></td>
            <td ng-show="!lockerinfo.isEdit">{{lockerStatusShow(lockerinfo.status)}}</td>
            <td ng-show="lockerinfo.isEdit">
                <select ng-model="lockerinfo.editStatus" class="form-control w-md">
                    <option ng-repeat="lockerdata in lockerStatusList"
                            ng-selected="lockerdata.value==lockerinfo.editStatus"
                            value="{{lockerdata.value}}">{{lockerdata.label}}
                    </option>
                </select>
            </td>
            <td>
                <a href="javascript:;" title="edit" class="fa fa-pencil-square-o fa-lg" ng-click="edit(lockerinfo)"></a>
            </td>
            <td>
                <a title="trash" href="javascript:;" class="fa fa-trash fa-lg"
                   ng-click="savedeletelockerId(lockerinfo.lockerId)" data-toggle="modal" data-target="#ConfirmModal"
                   data-backdrop="static" style="cursor:pointer;"></a>
                <!--  <a ng-show="condition.title == 'STATUS_TRASH'" href="javascript:;" class="fa fa-mail-reply fa-lg" ng-click="recoverData(lockerinfo)"></a> -->
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination-content">
        <uib-pagination total-items="filtered.length" ng-model="currentPage" max-size="5" class="pagination-sm"
                        boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;"
                        num-pages="noOfPages"
                        items-per-page=pageSize>
        </uib-pagination>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="padding-top: 200px;width: 1100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addLabel" ng-show="operation ==='save'">
                        Add
                    </h4>
                </div>
                <div class="modal-body" style="min-height: 200px;">
                    <form name="lockerForm">
                        <div class="col-md-12" ng-show="!remindMessage">
                             <span class="error"
                                   ng-show="check.moduleName && lockerForm.moduleName.$error.required">
	     			        Module Name Required !</span>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 col-xs-6 control-label">Locker ID:</label>
                                    <input class="form-control" type="text" required name="LockerId"
                                           ng-model="locker_Info.serialNumber"/>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 col-xs-6 control-label">Locker Area:</label>
                                    <select ng-model="locker_Info.area" class="form-control" required>
                                        <option value="">Please select</option>
                                        <option value="Shanghai" >Shanghai</option>
                                        <option value="Dalian" >Dalian</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 col-xs-6 control-label">Building_No:</label>
                                    <input class="form-control" type="text" required name="Building_No"
                                           ng-model="locker_Info.building_No"/>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 col-xs-6 control-label">Floor:</label>
                                    <input class="form-control" type="text" required name="Floor"
                                           ng-model="locker_Info.floor"/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 col-xs-6 control-label">Location:</label>
                                    <input class="form-control" type="text" required name="Location"
                                           ng-model="locker_Info.location"/>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 col-xs-6 control-label">Locker Type:</label>
                                    <select ng-model="locker_Info.type" class="form-control" required>
                                        <option value="">Please select</option>
                                        <option value="locker">locker</option>
                                        <option value="Staff Cabinet">Staff Cabinet</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div>
                    <div class="modal-footer">
                        <button type="button" class='btn btn-info'
                                data-dismiss="modal" ng-click="close()">Close
                        </button>
                        <button type="button" class='btn btn-info' ng-show="operation =='save'"
                                title="Fill in all the fields"
                                ng-disabled="!lockerForm.$valid" ng-click="submit()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ConfirmModal -->
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Confirm </h4>
                </div>
                <table>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:400px;"><h4>&nbsp;&nbsp;&nbsp;&nbsp;Are you sure to delete the locker?</h4>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-click="deleteData(lockeriddata)">Yes
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- approve modal -->
    </form>
</div>
</div>

