<div ng-controller="lockerAppHistoryController" ng-init="init()" >
	<div class="contact-title">
		<h2>Locker Application</h2>
	</div>
	<div class="div-padding-top">
		<table>
			<tr>
				<td><label class="control-label">Search by Date:&nbsp;&nbsp;</label></td>
				<td><input ng-click="openStartDate()" ng-model="select.startDate" readonly class="form-control"
						   uib-datepicker-popup ng-model="select.startDate" is-open="startDate.opened"
						   datepicker-options="dateOptions" required cl ose-text="Close"
						   alt-input-formats="altInputFormats" placeholder="From"/></td>
				<td>&nbsp;-&nbsp;</td>
				<td><input ng-click="openEndDate()" ng-model="select.endDate" readonly class="form-control"
						   uib-datepicker-popup ng-model="select.endDate" is-open="endDate.opened"
						   datepicker-options="dateOptions" required close-text="Close"
						   alt-input-formats="altInputFormats" placeholder="To"/></td>
			</tr>
			<tr ng-show="isHr != -1">
				<td>&nbsp;
				<td>
			</tr>
			<tr ng-show="isHr != -1">
				<td><label class="control-label">Search by Employee GUID:&nbsp;</label></td>
				<td><input class="form-control" type="text" ng-model="_employeeID" placeholder="Employee GUID"/>
				</td>
			</tr>
			<tr>
				<td>&nbsp;
				<td>
			</tr>
			<tr>
				<td><label class="control-label">Search by Status:&nbsp;</label></td>
				<td><select style="font-size: 15px" ng-model="_status" class="form-control"
					ng-options="status.name for status in statusMap">
					<option value="" selected>---Please select---</option>

				</select>
				</td>
			</tr>
			<tr>
				<td>&nbsp;
				<td>
			</tr>
			<tr>
				<td><label class="control-label">Search by Apply Type:&nbsp;</label></td>
				<td><select style="font-size: 15px" ng-model="_applyType" class="form-control"
							ng-options="applyType.name for applyType in applyTypeMap">
					<option value="" selected>---Please select---</option>
				</select>
				</td>
			</tr>

		</table>

	</div>
<div class="search-result" context-menu="menuOptions">
	<table class="table">
		<thead>
		<tr>
			<!-- <th class="check-box"><input type="checkbox" class="checkbox"
                id="checkbox" ng-model="page.allcheck" ng-click="selectAll()">
                <label for="checkbox"></label></th> -->
			<th></th>
			<th>Guid</th>
			<th>Locker SerialNumber</th>
			<th>Apply Date</th>
			<th>Duration</th>
			<th>Description</th>
			<th>Reject Reason</th>
			<th>Apply Type</th>
			<th>Status</th>
		</tr>
		</thead>

		<tbody>
		<tr ng-repeat="locker in lockerAndCabinetApplications | filter:searchByDate | filter:{status:_status.id} | filter:{guid:_employeeID} | filter:{applyType:_applyType.id}">
		<!--	<td class="check-box"><input type="checkbox" class="checkbox"
										 id="{{locker.lId}}" name="{{locker.lId}}"
										 ng-checked="locker.check" ng-model="locker.selected">
				<label
						for="{{locker.lId}}"></label></td>-->
			<td></td>
			<td>{{locker.guid}}</td>
			<td>{{locker.serialNumber}}</td>
			<td>{{locker.applyDate | date:'yyyy-MM-dd'}}</td>
			<td><span>{{locker.startDate | date:'yyyy-MM-dd'}}~{{locker.returnDate | date:'yyyy-MM-dd'}}</span>
				<span ng-show="locker.tmp_start!=null">{{locker.tmp_start}}~{{locker.tmp_return}}</span></td>
			<td>{{locker.description}}</td>
			<td>{{locker.comments}}</td>
			<td>{{typeShow(locker.applyType)}}</td>
			<td>{{statusShow(locker.status)}}</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	

<div class="modal fade" id="RejectComments" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Reject Reason:</h4>
					</div>
					<div>
						Write your reason here:
						<textarea class="survey_textarea"
							ng-model="lockerApplication.comments" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="rejectSelected()">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal --> 
	</div>
	</div>
	</div>