<div ng-controller="lockerApplicationController" ng-init="init()">
	<div class="contact-title">
		<h2>Locker Application</h2>
	</div>

	<div class="section position-information">
		<div class="row" style="padding-top: 10px">
			<div class="form-group col-sm-6">
				<label class="col-sm-4 col-xs-6 control-label">Application
					Type:</label>
				<div class="col-sm-5 col-xs-6">
					<select id="appType" ng-model="applyType" class="form-control">
						<!-- the action is on row 216 -->
						<option value="" disabled selected>Please select</option>
						<option ng-repeat="type in applyTypeMap" value="{{type.id}}"
							ng-show="!DisabledChecker(type)">{{type.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<!--<div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-xs-6 control-label">Locker Type:</label>
                <div class="col-sm-5 col-xs-6">
                    <select ng-model="application.applyType" class="form-control">
                        <option value="" disabled selected>Please select</option>
                        <option value="Locker">Locker</option>
                        <option value="Cabinet">Cabinet</option>
                    </select>
                </div>
            </div>
        </div>-->
		<p class="title">
			<span>Personal Information</span>
		</p>
		<div class="row" style="padding-top: 10px">
			<div class="form-group col-sm-6">
				<label class="col-sm-4 col-xs-6 control-label">Guid:</label>
				<div class="col-sm-5 col-xs-6">{{personalInformation.adName}}</div>
			</div>
			<div class="form-group col-sm-6">
				<label class="col-sm-4 col-xs-6 control-label">Employee ID:</label>
				<div class="col-sm-5 col-xs-6">{{personalInformation.emplNo}}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label class="col-sm-4 col-xs-6 control-label">Name:</label>
				<div class="col-sm-5 col-xs-6">{{personalInformation.chineseName}}</div>
			</div>
			<div class="form-group col-sm-6">
				<label class="col-sm-4 col-xs-6 control-label">*Coach/PM/RL:</label>
				<div class="col-sm-5 col-xs-6">
					<select id="mySel" class="form-control"
						ng-model="personalInformation.coachGuid" required>
						<option ng-repeat="item in allEmployee|orderBy:'emplName'"
							ng-selected="item.adName==employee.coachGuid"
							value="{{item.adName}}">
							{{item.emplName}}--{{item.adName}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row" style="padding-top: 10px">
			<div class="form-group col-sm-6">
				<label class="col-sm-4 col-xs-6 control-label">Working
					Place:</label>
				<div class="col-sm-5 col-xs-6">
					<input class="form-control"
						ng-model="personalInformation.workingPlace" required>
				</div>
			</div>
		</div>
		<p class="title" ng-show="!hasLocker && applyType == 1">
			<span>Locker Information</span>
		</p>
		<p class="title" ng-show="hasLocker">
			<span>Occupied Locker Information</span>
		</p>

		<div ng-show="hasLocker"
			ng-repeat="lockerAndCabinet in lockerAndCabinet">
			<div class="row" style="padding-top: 10px">
				<div class="form-group col-sm-6">
					<label class="col-sm-4 col-xs-6 control-label">SerialNumber:</label>
					<div class="col-sm-5 col-xs-6">{{lockerAndCabinet.serialNumber}}</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-4 col-xs-6 control-label">Area:</label>
					<div class="col-sm-5 col-xs-6">{{lockerAndCabinet.area}}</div>
				</div>

				<div class="form-group col-sm-6">
					<label class="col-sm-4 col-xs-6 control-label">Building_No:</label>
					<div class="col-sm-5 col-xs-6">{{lockerAndCabinet.building_No}}</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-4 col-xs-6 control-label">Floor:</label>
					<div class="col-sm-5 col-xs-6">{{lockerAndCabinet.floor}}</div>
				</div>

				<div class="form-group col-sm-6">
					<label class="col-sm-4 col-xs-6 control-label">Location:</label>
					<div class="col-sm-5 col-xs-6">{{lockerAndCabinet.location}}</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-4 col-xs-6 control-label">Type:</label>
					<div class="col-sm-5 col-xs-6">{{lockerAndCabinet.type}}</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-4 col-xs-6 control-label">Status:</label>
					<div class="col-sm-5 col-xs-6">{{statusShow(lockerAndCabinet.appStatus)}}</div>
				</div>
			</div>

		</div>

		<div class="row" style="padding-top: 10px">
			<div class="form-group col-sm-6"
				ng-show="hasLocker && applyType == 3">
				<label class="col-sm-4 col-xs-6 control-label">Duration:</label>
				<div class="col-sm-5 col-xs-6">
					<table>
						<div class="input-group input-daterange">
							<input id="starttime_renew" name="starttime_renew" type="text"
								class="form-control" ng-model="lockerApplication.startDate"
								placeholder="yyyy-mm-dd" required> <span
								class="input-group-addon">to</span> <input id="endtime_renew"
								name="endtime_renew" type="text" class="form-control"
								ng-model="lockerApplication.returnDate" placeholder="yyyy-mm-dd"
								required>

						</div>
					</table>
				</div>
			</div>
		</div>

		<div ng-show="!hasLocker && applyType == 1">
			<form name="applicationForm">
				<div class="row" style="padding-top: 10px">
					<div class="form-group col-sm-12">
						<label class="col-sm-2 control-label">Search:</label>
						<div class="col-sm-9">
							<select ng-model="state1" class="form-control"
								ng-options="state1.area for state1 in lockerList | filter:{building_No:state2.building_No} | filter:{floor:state3.floor}  | filter:{location:state4.location} | filter:{serialNumber:selectedLocker.serialNumber} | unique:'area' ">
								<option value="">Select Area...</option>
								<!--<option value="">&#45;&#45;Area&#45;&#45;</option>-->
								<!--<option ng-repeat="areaList"></option>-->
							</select>&nbsp;-&nbsp; <select ng-model="state2" class="form-control"
								ng-change="state2Changed()"
								ng-options="state2.building_No for state2 in lockerList | filter:{area:state1.area} | filter:{floor:state3.floor} | filter:{location:state4.location}| filter:{serialNumber:selectedLocker.serialNumber}| unique:'building_No'">
								<option value="">Select Building...</option>
								<!--<option value="">&#45;&#45;Building&#45;&#45;</option>-->
								<!--<option ng-repeat="buildingList"></option>-->
							</select>&nbsp;-&nbsp; <select ng-model="state3" class="form-control"
								ng-change="state3Changed()"
								ng-options="state3.floor for state3 in lockerList | filter:{area:state1.area} | filter:{building_No:state2.building_No} | filter:{location:state4.location} | filter:{serialNumber:selectedLocker.serialNumber}| unique:'floor'">
								<option value="">Select Floor...</option>
								<!--<option value="">&#45;&#45;Floor&#45;&#45;</option>-->
								<!--<option ng-repeat="floorList"></option>-->
							</select>&nbsp;-&nbsp; <select ng-model="state4" class="form-control"
								ng-change="state4Changed()"
								ng-options="state4.location for state4 in lockerList | filter:{area:state1.area} | filter:{building_No:state2.building_No} | filter:{floor:state3.floor} | filter:{serialNumber:selectedLocker.serialNumber}| unique:'location'">
								<option value="">Select Location...</option>
								<!--<option value="">&#45;&#45;Location&#45;&#45;</option>-->
								<!--<option ng-repeat="locationList"></option>-->
							</select>
						</div>
					</div>
				</div>

				<div class="row" style="padding-top: 10px">
					<div class="form-group col-sm-6">
						<label class="col-sm-4 col-xs-6 control-label">Locker ID:</label>
						<div class="col-sm-5 col-xs-6">
							<select id="selectedLocker" name="selectedLocker"
								ng-model="selectedLocker" required class="form-control"
								ng-change="lockerIdChanged()"
								ng-options="selectedLocker.serialNumber for selectedLocker in lockerList | filter:{area:state1.area} | filter:{building_No:state2.building_No} | filter:{floor:state3.floor} | filter:{location:state4.location}">
							</select>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label class="col-sm-3 col-xs-6 control-label">Duration:</label>
						<div class="col-sm-5 col-xs-6">
							<table>
								<div class="input-group input-daterange">
									<input id="starttime" name="starttime" type="text"
										class="form-control" ng-model="lockerApplication.startDate"
										placeholder="yyyy-mm-dd" required /> <span
										class="input-group-addon">to</span> <input id="endtime"
										name="endtime" type="text" class="form-control"
										ng-model="lockerApplication.returnDate"
										placeholder="yyyy-mm-dd" required />
								</div>

							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-12">
						<label class="col-sm-4 col-xs-6 control-label">Description:</label>
						<div class="col-sm-10 col-xs-6">
							<textarea ng-model="lockerApplication.description"
								name="description" class="survey_textarea" required></textarea>
						</div>
					</div>
				</div>

				<input name="confirm" type="checkbox" ng-model="agree"
					id="lockerapply" /> <a data-toggle="modal"
					data-target="#ApplyModal" style="cursor: pointer;"> I agree on
					the Terms of Use and Disclaimer policy. </a>
			</form>
		</div>


		<div class="row" style="padding-top: 10px"
			ng-show="!hasLocker && applyType == 1">
			<button type="button" class='btn btn-warning'
				ng-disabled="applicationForm.$invalid || !agree" ng-click="apply()"
				ng-show="!applicated">submit</button>
			<button type="button" class='btn btn-warning' ng-click="reset()">reset</button>
		</div>
		<div class="row" style="padding-top: 10px"
			ng-show="hasLocker && applyType ==2">
			<button type="button" class='btn btn-warning' ng-click="forgetPswd()">Submit</button>
		</div>
		<div class="row" style="padding-top: 10px"
			ng-show="hasLocker && applyType ==5">
			<button type="button" class='btn btn-warning' data-toggle="modal"
				data-target="#keyLost"">Lost Key</button>
		</div>
		<div class="row" style="padding-top: 10px"
			ng-show="hasLocker && applyType ==3">
			<button type="button" class='btn btn-warning' ng-click="renew()">Renew</button>
		</div>
		<div class="row" style="padding-top: 10px"
			ng-show="hasLocker && applyType ==4">
			<button type="button" class='btn btn-warning' ng-click="returnBack()">Return</button>
		</div>
	</div>

	<div class="modal fade" id="ApplyModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">Policy</h4>
				</div>
				<div class="modal-body">
					<h5>This is the policy</h5>
					<p>and This is the policy too</p>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="keyLost" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Please upload the
						receipt after paying the forfeit.</h4>
				</div>
				<div class="modal-body">
					<form id="receiptImage" enctype="multipart/form-data">
						<input type="file" ng-file-model="files" multiple class="dropify"/>
					</form>
					<table>
						<tr ng-repeat="file in files">
							<td>{{file.name}}</td>
							<td>{{file.msg}}</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class='btn btn-warning' data-dismiss="modal">Close</button>
					<button class="btn btn-warning" ng-click="certificateUpload()"
						ng-disabled="files == ''">Upload
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="resources/js/dropifyStyle.js"></script>
<script>
	var drEvent = $('.dropify').dropify();
	drEvent.on('dropify.beforeClear', function(event, element){
		return confirm("Do you really want to delete \"" + element.filename + "\" ?");
	});
	$('#mySel').select2();
	$('#selectedLocker').select2();
	$(document).ready(function() {
		$('#starttime').datepicker({
			startDate : '0',
			todayHighlight : true,
		}).on('changeDate', function() {
			var start = new Date();
			start = $('#starttime').datepicker('getDate');
			var endDate = new Date();
			var endMonth = start.getMonth() + 6;
			if (endMonth < 13)
				endDate.setMonth(endMonth);
			else {
				endDate.setMonth(endMonth - 12);
				endDate.setYear(start.getYear() + 1);
			}
			endDate.setDate(start.getDate());
			$('#endtime').datepicker('setEndDate', endDate);
			$('#endtime').datepicker('setStartDate', start);
			//console.log(new Date(new Date().setMonth(6)));
		});
		$('#endtime').datepicker({
			todayHighlight : true
		});

		$('#starttime_renew').datepicker({
			startDate : '0',
			todayHighlight : true,
		}).on('changeDate', function() {
			var start = new Date();
			start = $('#starttime_renew').datepicker('getDate');
			var endDate = new Date();
			var endMonth = start.getMonth() + 6;
			if (endMonth < 13)
				endDate.setMonth(endMonth);
			else {
				endDate.setMonth(endMonth - 12);
				endDate.setYear(start.getYear() + 1);
			}
			endDate.setDate(start.getDate());
			$('#endtime_renew').datepicker('setEndDate', endDate);
			$('#endtime_renew').datepicker('setStartDate', start);
			//console.log(new Date(new Date().setMonth(6)));
		});
		$('#endtime_renew').datepicker({
			todayHighlight : true
		});
	});
	
</script>
<script>
	$('#appType').on("change",function () {
		if ($("option:selected",this).val() == '5') {
			change_dialog_error("Please make sure you have paid for the lost key");
			show_dialog_error();
		}
	})
</script>
