<div ng-controller="LeaveApplicationController" ng-init="approveListInit()">
    <div class="contact-title">
        <h2>Leave Application</h2>
    </div>
    <div class="div-padding-top">
        <table>
            <tr>
                <td><label class="control-label">Search by Date:&nbsp;&nbsp;</label></td>
                <td><input ng-click="openStartDate()" ng-model="select.startDate" readonly class="form-control"
                           uib-datepicker-popup ng-model="select.startDate" is-open="startDate.opened"
                           datepicker-options="dateOptions" required close-text="Close"
                           alt-input-formats="altInputFormats" placeholder="From"/></td>
                <td>&nbsp;-&nbsp;</td>
                <td><input ng-click="openEndDate()" ng-model="select.endDate" readonly class="form-control"
                           uib-datepicker-popup ng-model="select.endDate" is-open="endDate.opened"
                           datepicker-options="dateOptions" required close-text="Close"
                           alt-input-formats="altInputFormats" placeholder="To"/></td>
            </tr>
            <tr>
                <td>&nbsp;<td>
            </tr>
            <tr>
                <td><label class="control-label">Search by Employee ID:&nbsp;</label></td>
                <td><input class="form-control" type="text" ng-model="employeeID" placeholder="Employee ID."/>
                </td>
            </tr>
            <tr>
                <td>&nbsp;<td>
            </tr>
            <tr>
                <td><label class="control-label">Search by Leave Type:&nbsp;</label></td>
                <td><select style="font-size: 15px" ng-model="leaveType" class="form-control"
                            ng-options="leaveType.leaveTypeName for leaveType in leaveTypeList">
                    <option value="">---Please select---</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;<td>
            </tr>
            <tr>
                <td><label class="control-label">Search by Status:&nbsp;</label></td>
                <td><select style="font-size: 15px" ng-model="_status" class="form-control"
                            ng-options="_status.name for _status in status">
                    <option value="">---Please select---</option>
                </select>
                </td>
            </tr>

        </table>
    </div>

    <div class="search-result" context-menu="menuOptions">
    	<div class="form-button">
            <!-- <button type="button" class="btn " ng-click="queryApproveLeaveList()">Search</button> -->
            <button id="approveBtn" type="button" class="btn " ng-click="approve(selected)">Approve</button>
            <button id="rejectBtn" type="button" class="btn " ng-click="reject(selected)">Reject</button>
            <!-- <button type="button" class="btn " ng-click="saveData()">DownLoad
                File</button> -->

        </div>
        <table class="table">
            <thead>
            <tr>
                <!-- <th class="check-box"><input type="checkbox" class="checkbox"
                    id="checkbox" ng-model="page.allcheck" ng-click="selectAll()">
                    <label for="checkbox"></label></th> -->
                <th></th>
                <th>Employee No.</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Days</th>
                <th>Leave Type</th>
                <th>Description</th>
                <th>Status</th>
                <th>Attachment</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in filtered = (approvelist | filter:searchByEmpNum | filter:searchByDate | filter:searchByStatus | filter:{leaveTypeId:leaveType.leaveTypeId} ) | filter:searchByEmpNum | filter:searchByDate | filter:searchByStatus | filter:{leaveTypeId:leaveType.leaveTypeId} | start: (currentPage - 1) * pageSize | limitTo: pageSize ">
                <td class="check-box"><input type="checkbox" class="checkbox"
                                             id="{{employee.leaveAppId}}" name="{{employee.leaveAppId}}"
                                             ng-click="updateSelection($event,employee)"
                                             ng-model="employee.check" ng-checked="isSelected(employee.leaveAppId)">
                    <label
                            for="{{employee.leaveAppId}}"></label></td>
                <td>{{employee.emplNo}}</td>
                <td>{{employee.emplName}}</td>
                <td>{{employee.startTime}}</td>
                <td>{{employee.endTime}}</td>
                <td>{{employee.totalDays}}</td>
                <td>{{showLeaveTypeName(employee.leaveTypeId)}}</td>
                <td>{{employee.description}}</td>
                <td>{{statusShow(employee.appStatusCode)}}</td>
                <td>
					<a  ng-click="showAttachmentList(employee)" ng-show="employee.leaveUploadFile" data-toggle="modal" data-target="#leaveAppAttachmentModal" data-backdrop="static" style="cursor:pointer;color: #FF8B00">view</a>
					<div ng-show="!employee.leaveUploadFile">-</div>
				</td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-content" >
            <uib-pagination total-items="filtered.length" ng-model="currentPage" max-size="5" class="pagination-sm"
                            boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" num-pages="noOfPages"
                            items-per-page=pageSize></uib-pagination>
        </div>
    </div>
    
    <div class="modal fade" id="leaveAppAttachmentModal" tabindex="-1"
    	role="dialog" aria-labelledby="exampleModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"
                       aria-label="Close" id="closeButton">
                   <span aria-hidden="true">&times;</span>
                   </button>
                   <h4 class="modal-title" id="exampleModalLabel">Leave Application Attachment</h4>
               </div>
                  <div>
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>File Name</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="file in files">
                              	<td ng-click="download(file)" style="cursor:pointer;">{{file}}</td>
                                  <!-- <td ng-click="download(objToString(file))" data-toggle="modal" data-target="#downloadtemplateModal" data-backdrop="static" style="cursor:pointer;">{{objToString(file)}}</td>
                                  <td ng-show="isHr != -1"><a ng-click="deleteFileDialog(objToString(file))" "data-toggle="modal" data-target="#deleteModal" data-backdrop="static" style="cursor:pointer;">delete</a></td> -->
                              </tr>
                          </tbody>
                      </table>
                  </div>
	        </div>
	    </div>
	</div>
	
	
    <!-- modal email by dww -->
    <div class="modal fade" id="commonModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Reject message</h4>
                </div>
                <div class="editor-wrap" style="padding: 15px;">
                    <textarea ui-tinymce="tinymceOptions" ng-model="rejectComment"></textarea>
                </div>
                <div class="modal-footer">
                    <form id="uploadattachment" class="email-upload"
                          enctype="multipart/form-data"></form>
                    <button type="button" style="margin-top: 12px"
                            class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button type="button" style="margin-top: 12px"
                            class="btn btn-warning" ng-click="saveCommon()" ng-disabled="!rejectComment">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>