<div ng-controller="accessCardController" ng-init="init()">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="resources/images/EmployeeCard.jpg" alt="...">
                <div class="caption">
                    <h3>NO:{{accessCard.pwcCardNo}}</h3>
                    <p><a class="btn btn-warning" role="button" ng-show="accessCard.pwcCardNo != ''" ng-click="lost('EmployeeCard')">Lost</a>
                        <a class="btn btn-default" role="button" ng-show="accessCard.pwcCardNo == ''" disabled="accessCard.pwcCardNo == ''">Remaking</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="resources/images/ChamTime.jpg" alt="...">
                <div class="caption">
                    <h3>NO:{{accessCard.chamTimeCardNo}}</h3>
                    <p><a class="btn btn-warning" role="button" ng-show="accessCard.chamTimeCardNo != ''" ng-click="lost('ChamTime')">Lost</a>
                        <a class="btn btn-default" role="button" ng-show="accessCard.chamTimeCardNo == ''" disabled="accessCard.chamTimeCardNo == ''">Remaking</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
