<div ng-controller="dimissionHRReviewController">
	<div class="contact-title">
	    <h2>Termination Request Review</h2>
	</div>
	<div class="div-padding-top">
		<table>
			<tr>
				<td><label>Search by Last Working Date:&nbsp;</label></td>
				<td><input ng-click="openStartDate()" readonly class="form-control" uib-datepicker-popup ng-model="select.startDate" is-open="startDate.opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd"/></td>
				<td>&nbsp;-&nbsp;</td>
				<td><input ng-click="openEndDate()" readonly class="form-control" uib-datepicker-popup ng-model="select.endDate" is-open="endDate.opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd"/></td>
			</tr>
			<tr>
			<td>&nbsp;<td>
			</tr>
			<tr>
				<td><label>Search by EmployeeID:&nbsp;</label></td>
				<td><input class="form-control" ng-model="emplNumber"/></td>
			</tr>
			<tr>
			<td>&nbsp;<td>
			</tr>
			<tr>
				<td><label>Application Status:&nbsp;</label></td>
				<td>
					<select ng-model="reviewType" required class="form-control" ng-show="!applicated" ng-change="getShow(reviewType)">
						<option value="approved">Approved</option>
						<option value="processing">Processing</option>
						<option value="done">Done</option>
						<option value="all">ALL</option>
					</select>
				</td>
			</tr>
		</table>
	
	</div>
	<div class="search-result" context-menu="menuOptions">
	    <div class="form-button">
	        <button type="button" class="btn btn-warning" ng-click="markAsDone(applicationHRList)" ng-show="reviewType=='approved'">Mark as Done</button>
	        <button type="button" class="btn btn-warning" ng-click="markAsUnDone(applicationHRList)" ng-show="reviewType=='done'">Mark as Undone</button>
	        <button type="button" class="btn btn-warning" ng-click="emailTemplateinit()" data-toggle="modal"
					data-target="#updateTemplateModal" data-backdrop="static" style="cursor:pointer;" ng-disabled="checked.length!=1">email</button>
	    </div>
	    <table class="table">
	        <thead>
	            <tr>
	                <th></th>
	                <th></th>
	                <th>Employee ID</th>
	                <th>Staff Name</th>
	                <th>Position</th>
	                <th>Domain</th>
	                <th>Onboarding Date</th>
	                <th>Last Working Date</th>
	                <th>Coach/PM/RL </th>
	                <th>OM </th>
	                <th>GM </th>
					<th>HRM</th>
					<th>Rehire Qualified</th>
	                <th>Termination Reason</th>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="application in applicationHRList | filter:searchByDate | filter:searchByEmpolyeeID">
	                <td class="check-box">
	                    <input type="checkbox" class="checkbox" id="checkbox-{{application.dimissionAppId}}" ng-model="application.check" ng-checked="application.check" ng-click="checkBox(application)">
	                    <label for="checkbox-{{application.dimissionAppId}}"></label>
	                </td>
	                <td>
	                	<li class="glyphicon glyphicon-envelope" style="color:#FF8B00"  ng-show="application.isEmailed"></li>
	                </td>
	                <td ng-bind="application.emplNo" ></td>
	                <td ng-bind="application.chineseName" ng-click="showApplication(application)" data-toggle="modal" data-target="#applicationInfoModal" data-backdrop="static" style="cursor:pointer;color: #FF8B00"></td>
	                <td ng-bind="application.jobTitle"></td>
	                <td>{{application.supportingTeamName}}</td>
	                <td ng-bind="application.gdcStartDate"></td>
	                <td>
	                    <span class="col-xs-10" ng-bind="application.lastWorkingDay" ng-show="!application.isEdit"></span>
	                    <input type="date" ng-model="application.editDate" ng-show="application.isEdit"/>
						<a href="javascript:;" title="edit" class="fa fa-pencil-square-o fa-lg" ng-click="edit(application)" ng-hide="reviewType == 'done'"></a>
	                </td>
	                <td>{{application.coachName+" :" + application.coachOptTime}}</td>
	                <td>{{application.operationManager+" :" + application.omOptTime}}</td>
	                <td>{{application.gmOptTime}}</td>
					<td>{{application.hrmOptTime}}</td>
					<td>{{application.rehirable ? 'Yes' : 'No'}}</td>
	                <td>
						<span ng-show="!application.leaveReasonIsEdit">{{application.hrNotes}}</span>
						<select ng-model="application.hrNotes" ng-show="application.leaveReasonIsEdit">
							<option ng-repeat="reason in leaveReasons" value="{{reason}}">{{reason}}</option>
						</select>
						<a href="javascript:;" title="edit" class="fa fa-pencil-square-o fa-lg" ng-click="editReason(application)"ng-hide="reviewType == 'done'"></a>
					</td>
	            </tr>
	        </tbody>
	    </table>
	    <div class="pagination-content">
	        <uib-pagination total-items="bigTotalItems" ng-model="page.bigCurrentPage" max-size="page.maxSize" class="pagination-sm" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()" items-per-page="20"></uib-pagination>
	    </div>
	</div>
	
	<div class="modal fade" id="applicationInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	        <div id="print">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
						<span aria-hidden="true">&times;</span>
					</button>
            		<h4 class="modal-title" id="exampleModalLabel">PWC SDC China Termination Request From</h4>
	            </div>
	            <div class="section position-information">
	            	<div class="position-content" style="padding:20px;">
	            		<div>
			           		<div class="form-group col-sm-12">
								<h4 class="modal-title">Staff use only</h4>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Chinese Name:</label>
									<div class="col-sm-5 col-xs-6">{{modal.chineseName}}</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">English Name:</label>
									<div class="col-sm-5 col-xs-6">{{modal.emplName}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Employee ID:</label>
									<div class="col-sm-5 col-xs-6">{{modal.emplNo}}</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Domain:</label>
									<div class="col-sm-5 col-xs-6">{{modal.supportingTeamName}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Level:</label>
									<div class="col-sm-5 col-xs-6">{{modal.jobTitle}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Onboarding Date:</label>
									<div class="col-sm-5 col-xs-6">{{modal.gdcStartDate}}</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Last working Date:</label>
									<div class="col-sm-5 col-xs-6">
										<span ng-bind="modal.lastWorkingDay"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Rehire qualified:</label>
									<div class="col-sm-5 col-xs-6">{{modal.rehirable ? 'Yes' : 'No'}}</div>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<h4 class="modal-title">Approvals use only</h4>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Staff Name:</label>
									<div class="col-sm-5 col-xs-6">
										<span>{{modal.emplName}}</span>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Application Date:</label>
									<div class="col-sm-5 col-xs-6">{{modal.appTime}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Coach/PM/RL:</label>
									<div class="col-sm-5 col-xs-6">
										<span>{{modal.coachName}}</span>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Approve Date:</label>
									<div class="col-sm-5 col-xs-6">{{modal.coachOptTime}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">OM:</label>
									<div class="col-sm-5 col-xs-6">{{modal.operationManager}}</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Approve Date:</label>
									<div class="col-sm-5 col-xs-6">{{modal.omOptTime}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">GM:</label>
									<div class="col-sm-5 col-xs-6"></div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Approve Date:</label>
									<div class="col-sm-5 col-xs-6">{{modal.gmOptTime}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">HRM:</label>
									<div class="col-sm-5 col-xs-6"></div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Approve Date:</label>
									<div class="col-sm-5 col-xs-6"></div>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-warning" id="printButton" ng-click="print()">Print</button>
	            	</div>
	     		</div>
	     	</div>
	     	</div>
		</div>
	</div>

	<div class="modal fade" id="updateTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="showModalLabel">Send E-mail</h4>
					<span style="color:red;">{{getEmailError}}</span>
				</div>
				<div>
					<div class="section position-information">
						<div class="position-content" style="padding:20px;">
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Mail Title</label>
	                            	<input type="text" class="form-control" ng-model="templateinfoshow.tempSubject">
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">CC:</label>
									<input type="text" class="form-control" ng-model="templateinfoshow.cc">
								</div>
							</div>
						</div>
	                    <div>
	                    	<textarea ui-tinymce="tinymceOptions" style="height: 300px;weight: 700px" ng-model="templateinfoshow.tempContent"></textarea>
	                    </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-warning" ng-click="sentEmail()" ng-disabled="getEmailError!=''">Sent</button>
				</div>
			</div>
		</div>
	</div>
</div>

