<div ng-controller="EmailTemplateManagementController" ng-init="EmailTemplateinit()">
	<div class="contact-title">
		<h2>Email Template Management</h2>
	</div>
    <div class="search-result" context-menu="menuOptions" style="margin-top: 30px;">
    <div class="form-button">
        <button type="button" class="btn btn-warning"  ng-click="showAddDialog()">Add</button>
    </div>
		<table class="table">
			<thead>
			<tr>
				<th></th>
				<th>Email Template</th>
				<th>Subject</th>
				<th>TempContent</th>
				<th>TempStatus</th>
				<th>cc</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="emailtemplateinfo in EmailTemplatelist "  >
				<td></td>
				<td ng-bind="emailtemplateinfo.module"></td>
				<td ng-bind="emailtemplateinfo.tempSubject"></td>
				<td ><a data-toggle="modal" data-target="#showhtmlModal" data-backdrop="static" style="cursor:pointer;"ng-click="showdetailTemp(emailtemplateinfo.tempContent)">TempContent</a></td>
				<td ng-bind="emailtemplateinfo.tempStatus"></td>
				<td ng-bind="emailtemplateinfo.cc"></td>		
				<td><a  ng-click="showTemplate(emailtemplateinfo)"data-toggle="modal" data-target="#updateTemplateModal" data-backdrop="static" style="cursor:pointer;">Update</a></td>
				<td><a  ng-click="showTemplate(emailtemplateinfo)"data-toggle="modal" data-target="#deletetemplateModal" data-backdrop="static" style="cursor:pointer;">delete</a></td>
			</tr>
			</tbody>
		</table>
		<div class="pagination-content">
			<uib-pagination total-items="bigTotalItems" ng-model="page.bigCurrentPage" max-size="page.maxSize" class="pagination-sm" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()" items-per-page="20"></uib-pagination>
		</div>
    </div>
	<!-- update modal -->
	<div class="modal fade" id="updateTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="showModalLabel">Update Tempinfo</h4>
				</div>
				<div>
					<div class="section position-information">
						<div class="position-content" style="padding:20px;">
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">TemplateID:</label>
									<div class="col-sm-5 col-xs-6">{{templateinfoshow.templateID}}</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Module :</label>
                                    <input type="text" class="form-control" ng-model="templateinfoshow.module">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Temp Subject</label>
                                    <input type="text" class="form-control" ng-model="templateinfoshow.tempSubject">
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Temp Status:</label>
										<input type="text" class="form-control" ng-model="templateinfoshow.tempStatus">
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">CC:</label>
										<input type="text" class="form-control" ng-model="templateinfoshow.cc">
								</div>
							</div>
                            <label class="col-sm-4 col-xs-6 control-label">Temp Content:</label>
						</div>
                                <div class="modal-dialog" role="document">
                                    <textarea ui-tinymce="tinymceOptions" style="height: 300px;weight: 700px" ng-model="templateinfoshow.tempContent"></textarea>
                                    <div class="modal-footer">
                                        <form id="upload" class="email-upload"
                                              enctype="multipart/form-data"></form>
                                    </div>
                                </div>
					 </div>
					</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-warning" ng-click="updateEmailTemplate(templateinfoshow)"data-dismiss="modal">Update</button>
				</div>
			</div>
		</div>
	</div>
<!-- update modal -->
	<!-- delete modal -->
	<div class="modal fade" id="deletetemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">Delete confirm</h4>
				</div>
				<table>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td style="width:400px;"><h4>&nbsp;&nbsp;&nbsp;&nbsp;Are you sure to delete the Template?</h4></td>
						<td><button type="button" class="btn btn-warning" ng-click="deleteEmailTemplateData(templateinfoshow.templateID)">Yes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td><button type="button" class="btn btn-warning" data-dismiss="modal">No</button></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
				</table>
			</div>
		</div>
	</div>
	<!-- delete modal -->
    <!--modal-content show-->
	<div class="modal fade" id="showhtmlModal" tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="RejectLabel">Content Show</h4>
				</div>
				<div class="editor-wrap" style="padding: 15px;">
					<textarea ui-tinymce="tinymceOptions"style="height: 335px" ng-model="templatemodal"></textarea>
				</div>
				<div class="modal-footer">
					<form id="uploadattachment" class="email-upload"
						  enctype="multipart/form-data"></form>
					<button type="button" style="margin-top: 12px"
							class="btn btn-default" data-dismiss="modal">Close
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-content -->
	<!-- add modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="padding-top: 200px;width: 1100px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close"
							data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="addLabel" ng-show="operation ==='save'">
						Add
					</h4>
				</div>
				<div class="modal-body" style="min-height: 700px;">
					<form name="EmailTemplateForm">
						<div class="col-md-12" ng-show="!remindMessage">
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Module:</label>
									<input class="form-control" type="text" required name="module" ng-model="templete_Info.module"/>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Temp Subject:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" type="text" required name="tempSubject" ng-model="templete_Info.tempSubject"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Temp Status:</label>
									<input class="form-control" type="text" required name="tempStatus" ng-model="templete_Info.tempStatus"/>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">CC:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" type="text" required name="cc" ng-model="templete_Info.cc"/>
									</div>
								</div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 col-xs-6 control-label">Temp Content:</label>
                                </div>
							</div>
							<div class="row">
                                <div class="editor-wrap" style="padding: 15px;">
                                    <textarea ui-tinymce="tinymceOptions"style="height: 335px" ng-model="templete_Info.tempContent"></textarea>
                                </div>
							</div>
							</div>
					</form>
                    <div style="float: right;">
                        <button type="button" class='btn btn-warning'
                                data-dismiss="modal" ng-click="close()">Close
                        </button>
                        <button type="button" class='btn btn-warning' ng-show="operation =='save'"
                                title="Fill in all the fields"
                                ng-disabled="!EmailTemplateForm.$valid" ng-click="submitemail()">
                            Save
                        </button>
                    </div>
				</div>
			</div>
		</div>
        </div>
        </div>
    </div>
</div>
</div>
</div>