<div ng-controller="searchEmployeeInfoController">
	<div>
		<div class="muti-search">
		    <h3>Employee Information</h3>
		    <div class="search-condition" ng-if="authority.indexOf('NewOA HR Admin')!=-1 || isOM">
			    <table>
			    	<tr>
			    		<td width="30%"  ng-if="authority.indexOf('NewOA HR Admin')!=-1">
			    			<div class="team">
			            		<span class="title">Team:</span>
			            		<select class="first-select" ng-model="searchInfo.supportingTeamName">
			                		<option value="">-- All --</option>
			                		<option value="{{team.supportingTeamName}}" ng-repeat="team in teamList">{{team.supportingTeamName}}</option>
			            		</select>
			        		</div>
			        	</td>
			        	<td width="30%">
			        		<div class="search">
			            		<span class="title">Search By Name:</span>
			            		<input type="text" class="searchbox" ng-model="searchInfo.emplName">
			        		</div>
			        	</td>
			        	<td width="30%">
			        		<div class="search">
			            		<span class="title">Search By Employee ID:</span>
			            		<input type="text" class="searchbox" ng-model="searchInfo.emplNo">
			        		</div>
			        	</td>
			    	</tr>
			    	<tr>
			    		<td>&nbsp;</td>
			    	</tr>
			    	<tr>
			    		<td width="30%">
			    			<div class="search">
			            		<span class="title">Search BY GUID:</span>
			            		<input type="text" class="searchbox" ng-model="searchInfo.adName">
			        		</div>
			    		</td>
			    		<td width="30%">
			    			<div class="search">
			            		<span class="title">Search BY Position:</span>
			            		<input type="text" class="searchbox" ng-model="searchInfo.jobTitle">
			        		</div>
			    		</td>
			    	</tr>
			    </table>    
		    </div>
		</div>
		<div class="search-result" context-menu="menuOptions">
    		<div class="form-button">
        		<button type="button" class="btn btn-warning" ng-click="getPersonInfo()" ng-if="authority.indexOf('NewOA HR Admin')!=-1 || isOM">Personal Information</button>
        		<button type="button" class="btn btn-warning" ng-click="cearSearch()" ng-if="authority.indexOf('NewOA HR Admin')!=-1">ALL Employee Information</button>
				<button type="button" class="btn btn-warning" ng-click="findTeamMember()" ng-if="isOM">Team members</button>
        		<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addInfoModal" data-backdrop="static" ng-if="authority.indexOf('NewOA HR Admin')!=-1">Add New</button>
    		</div>	
    		<table class="table">
        		<thead>
            		<tr>
                		<th>Emplyee ID</th>
                		<th>Team</th>
                		<th>Staff Name</th>
                		<th>Guid</th>
                		<th>Position</th>
                		<th>Cisco Extension</th>
                		<th>Notes Email</th>
                		<th>Google mail</th>
                		<th>Mobile Phone</th>
                		<th></th>
                		<th></th>
                		<th></th>
            		</tr>
        		</thead>
        		<tbody>
            		<tr ng-repeat="employeeInfo in employeeList | filter:searchInfo">
                		<td ng-bind="employeeInfo.emplNo" ></td>
                		<td ng-bind="employeeInfo.supportingTeamName" ></td>
                		<td ng-bind="employeeInfo.emplName" ng-click="showEmployeeInfo(employeeInfo)"
							data-toggle="modal" data-target="#employeeInfoModal" data-backdrop="static" style="cursor:pointer;color: #FF8B00"></td>
                		<td ng-bind="employeeInfo.adName"></td>
                		<td ng-bind="employeeInfo.jobTitle"></td>
                		<td ng-bind="employeeInfo.extension"></td>
                		<td ng-bind="employeeInfo.jobMail"></td>
                		<td ng-bind="employeeInfo.googleEmailAddress"></td>
                		<td ng-bind="employeeInfo.mPhone"></td>
                		<td>
                			<a title="edit" class="fa fa-pencil-square-o fa-lg" ng-click="edit(employeeInfo)" 
                				data-toggle="modal" data-target="#employeeInfoModal" data-backdrop="static" ng-if="authority.indexOf('NewOA HR Admin')!=-1 || employeeInfo.adName == name" style="cursor:pointer;"></a>
                		</td> 
            		</tr>
            		<tr ng-show="errorMessage!=''">
            			<td style="color:red;">{{errorMessage}}</td>
            		</tr>
        		</tbody>
    		</table>
		</div>
	</div>

	<div class="modal fade" id="employeeInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title" id="exampleModalLabel">Employee information</h4>
					<span style="color: red;">{{errorMessageModal}}</span>
	            </div>
       			<div ng-show="infoState=='job'">
                    <button class="btn" style="background: #ff8b00;color: #fff;" ng-click="changeState_Info('job')">Job Info</button>
                    <button class="btn" ng-click="changeState_Info('personal')" ng-if="authority.indexOf('NewOA HR Admin')!=-1 || modal.adName == name">personal Info</button>
                </div>
                <div ng-show="infoState=='personal'">
                    <button class="btn" ng-click="changeState_Info('job')">Job Info</button>
                    <button class="btn" style="background: #ff8b00;color: #fff;" ng-click="changeState_Info('personal')">personal Info</button>  
                </div>
	            <div class="section position-information">
					<div class="position-content" style="padding:20px;">
						<form name="editEmployeeInfoForm">
						<div class="row">
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">* Employee ID:</label>
								<label class="col-sm-5 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.emplNo}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
									<input class="form-control" ng-model="modal.emplNo" required/>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">* Name:</label>
								<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.emplName}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
									<input class="form-control" ng-model="modal.emplName" required/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">* Guid:</label>
								<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.adName}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
									<input class="form-control" ng-model="modal.adName" required/>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">* Location:</label>
								<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{modal.location}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'|| isEdit == 'personal'">
									<input class="form-control" list="locations" ng-model="modal.location" required/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">* Google Email Address:</label>
								<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.googleEmailAddress}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
									<input class="form-control" ng-model="modal.googleEmailAddress" required/>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">* Notes Email:</label>
								<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.jobMail}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
									<input class="form-control" ng-model="modal.jobMail" required/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">Mobile Phone:</label>
								<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{modal.mPhone}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
									<input class="form-control" ng-model="modal.mPhone"/>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label class="col-sm-4 col-xs-6 control-label">Cisco Extension:</label>
								<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{modal.extension}}</label>
								<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
									<input class="form-control" ng-model="modal.extension"/>
								</div>
							</div>
						</div>
						<div ng-show="infoState=='job'">
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Job Level:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.jobTitle}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
										<select class="form-control" ng-model="modal.jobTitle" required>
											<option ng-repeat="item in jobTitleList" ng-selected="modal.jobTitle == item.jobTitle" value={{item.jobTitle}}>{{item.jobTitle}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Domain:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.supportingTeamName}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
										<select ng-model="modal.supportingTeamID" required class="form-control">
											<option value="">Please select</option>
											<option ng-repeat="item in teamList" value="{{item.supportingTeamID}}">{{item.supportingTeamName}}</option>
										</select>
									</div>
								</div>		
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* On Board Date:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.gdcStartDate |  date:'yyyy-MM-dd'}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
										<input ng-click="openOnBoradDate()" readonly class="form-control"
											   uib-datepicker-popup ng-model="modal.gdcStartDate" is-open="popOpenOnBoradDate.opened"
											   datepicker-options="dateOptions" required  ng-change="changeOnboardTimeType()"
											   close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" required/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">RL Name:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit == 'admin'">RL Guid:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.leaderName}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
										<input class="form-control" ng-model="modal.leaderGuid" />
									</div>
								</div>		
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">Coach Name:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit == 'admin'">* Coach Guid:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{modal.coachName}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
										<input class="form-control" ng-model="modal.coachGuid" />
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Employee Status:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false' || isEdit == 'personal'">{{statusShow(modal.statusEmpl)}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'">
										<input class="form-control" ng-model="modal.statusEmpl" />
									</div>
								</div>		
							</div>
						</div>
						<div ng-show="infoState=='personal'">
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Education:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.education}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<select ng-model="personalInfo.education" class="form-control">
											<option value="">Please select</option>
											<option ng-repeat="item in educations" value="{{item.value}}">{{item.label}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Gender:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.gender}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<select ng-model="personalInfo.gender" class="form-control">
											<option value="">Please select</option>
											<option value="F">F</option>
											<option value="M">M</option>
										</select>
									</div>
								</div>		
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Chinese Name:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{modal.chineseName}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model="modal.chineseName" required/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Hobbies:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.hobbies}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model="personalInfo.hobbies" />
									</div>
								</div>		
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* BirthDate:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.birthDate| date:'yyyy-MM-dd'}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin'|| isEdit == 'personal'">
										<input ng-click="openbirthday()" readonly class="form-control"
											   uib-datepicker-popup ng-model="personalInfo.birthDate" required is-open="popupbirthday.opened"
											   datepicker-options="dateOptions" ng-change="changeBirthDateTimeType()" close-text="Close" alt-input-formats="altInputFormats"
											   placeholder="yyyy-mm-dd"/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Working Years:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.workingYears}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model="personalInfo.workingYears" />
									</div>
								</div>		
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Passport No:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.passportNo}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model="personalInfo.passportNo">
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Working Permit:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.workingPermit}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model="personalInfo.workingPermit"/>
									</div>
								</div>		
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Residence Card:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.residenceCard}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model="personalInfo.residenceCard"/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Bank Account:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.bankAccount}}</label>
									<div class="col-sm-5 col-xs-6" ng-show="isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model="personalInfo.bankAccount" />
									</div>
								</div>		
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">National ID:</label>
									<label class="col-sm-4 col-xs-6 control-label" ng-show="isEdit=='false'">{{personalInfo.nationalID}}</label>
									<div class="col-sm-5 col-xs-6" ng-show = "isEdit == 'admin' || isEdit == 'personal'">
										<input class="form-control" ng-model = "personalInfo.nationalID"/>
									</div>
								</div>
							</div>
						</div>
						</form>
						<div class="modal-footer" ng-if = "isEdit == 'admin' || isEdit == 'personal'">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-warning" ng-click="save()" ng-disabled="!editEmployeeInfoForm.$valid">Save</button>
						</div>
					</div>
	     		</div>
	     	</div>
		</div>
	</div>
	
	<div class="modal fade" id="addInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Add New Employee</h4>
					<span style="color: red;">{{errorMessageAddModal}}</span>
				</div>
				<div class="section position-information">
					<div class="position-content" style="padding:20px;">
						<form name="addEmployeeInfoForm">
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Employee ID:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.emplNo" required/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* GUID:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.adName" required/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Name:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.name" required/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* English Name:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.emplName" required/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Google Email:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.googleEmailAddress" required/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Notes Email:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.jobMail" required/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Mobile Phone:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.mPhone"/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Cisco Extension:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.extension"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Location:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" list="locations" ng-model="addModal.location" required/>
										<datalist id="locations">
											<option value="SH">ShangHai</option>
											<option value="DL">DaLian</option>
										</datalist>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Domain:</label>
									<div class="col-sm-5 col-xs-6">
										<select ng-model="addModal.supportingTeamID" required class="form-control">
											<option value="">Please select</option>
											<option ng-repeat="item in teamList" value="{{item.supportingTeamID}}" ng-hide="item.operationManager == null">{{item.supportingTeamName}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Job Level:</label>
									<div class="col-sm-5 col-xs-6">
										<select class="form-control" ng-model="addModal.jobTitle" required>
											<option value="">Please select</option>
											<option ng-repeat="item in jobTitleList" ng-selected="addModal.jobTitle == item.jobTitle" value={{item.jobTitle}}>{{item.jobTitle}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* On board Date:</label>
									<div class="col-sm-5 col-xs-6">
										<input ng-click="openOnBoradDate()" readonly class="form-control"
											   uib-datepicker-popup ng-model="addModal.gdcStartDate" is-open="popOpenOnBoradDate.opened"
											   required close-text="Close" alt-input-formats="altInputFormats"
											   placeholder="yyyy-mm-dd"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">RL Guid:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.leaderGuid"/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Coach Guid</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.coachGuid" required/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Education:</label>
									<div class="col-sm-5 col-xs-6">
										<select ng-model="addModal.education" class="form-control">
											<option value="">Please select</option>
											<option ng-repeat="item in educations" value="{{item.value}}">{{item.label}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Gender:</label>
									<div class="col-sm-5 col-xs-6">
										<select ng-model="addModal.gender" class="form-control">
											<option value="">Please select</option>
											<option value="F">F</option>
											<option value="M">M</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">* Chinese Name:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.chineseName" required/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Birth Date:</label>
									<div class="col-sm-5 col-xs-6">
										<input ng-click="openbirthday()" readonly class="form-control"
											   uib-datepicker-popup ng-model="addModal.birthDate" is-open="popupbirthday.opened"
											   close-text="Close" alt-input-formats="altInputFormats"
											   placeholder="yyyy-mm-dd"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">National ID:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.nationalID"/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Working Years:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.workingYears"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Working Permit:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.workingPermit"/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Residence Card:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.residenceCard"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Bank Account:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.bankAccount"/>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Passport NO:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.PassportNo"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label class="col-sm-4 col-xs-6 control-label">Hobbies:</label>
									<div class="col-sm-5 col-xs-6">
										<input class="form-control" ng-model="addModal.hobbies"/>
									</div>
								</div>
							</div>
						</form>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-warning" ng-click="addEmployeeInfo()" ng-disabled="!addEmployeeInfoForm.$valid">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
